<div class="seccionAbout">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 d-flex align-items-center">
        <div>
          <p class="mb-0 introTitle">Apartado personal</p>
          <h1>Conóceme mejor</h1>
          <p>
            Soy un desarrollador de software con experiencia en diversas
            tecnologías y un enfoque en la creación de soluciones
            <span>eficientes e innovadoras</span>. Apasionado por la tecnología,
            disfruto aportar valor a través de los conocimientos adquiridos a lo
            largo de los años.
          </p>
          <p>
            Me considero una persona creativa, adaptable y capaz de trabajar
            tanto en equipo (bajo metodologías como <span>Scrum y Agile</span>)
            como de manera autónoma cuando es necesario.
          </p>
        </div>
      </div>
      <div
        class="col-lg-6 order-2 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid pfp"
          src="../../../../../assets/"
          alt="Imagen de Daniel Coronel"
        />
      </div>
    </div>
  </div>
</div>
