<div class="timeline">
  <!-- Educacion universitario -->
  <div class="timeline-item">
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="timeline-details">
          <div class="timeline-marker"></div>
          <div class="block-div">
            <img class="img svgV" src="../../../../../assets/UNE.webp">
            <a target="_blank" href="https://www.fpune.edu.py/v2/pagina/index" role="button" aria-label="Sitio web de Eviden" class="external"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="timeline-description mt-3 mt-md-0">
            <span class="role">Licenciatura en Análisis de Sistemas</span><br>
            <span class="company title block-div">Universidad Nacional del Este Facultad Politécnica</span>
            <span><span class="date">2022 - </span>Ciudad del Este, Paraguay</span>
        </div>
      </div>
    </div>
  </div>


  <div class="divider d-flex align-items-center mb-4 mt-4 mx-5">
    <p class="text-center mx-3 mb-0" style="color: var(--text2)">Otras formaciones</p>
  </div>

    <!-- Curso Ingles -->
    <div class="timeline-item">
      <div class="row mb-3">
        <div class="col-lg-5">
          <div class="timeline-details">
            <div class="timeline-marker"></div>
            <span class="role">Idioma Inglés</span><br>
            <h4 class="company title">LTC Speak Academy
              <a target="_blank" href="https://thespeakacademy.com/" role="button" aria-label="Sitio web de Eviden" class="external"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>

            </h4>
            <span><span class="date me-2">2022 -</span>Ciudad del Este, Paraguay</span>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="timeline-description mt-3 mt-md-0">
            <p class="color">Durante un período de un año, estudié inglés con el objetivo de mejorar mis habilidades en <span class="highlight">comunicación y comprensión del idioma</span>. Este aprendizaje me ha permitido desarrollar una mejor capacidad para leer <span class="highlight">documentación técnica </span> y mantener <span class="highlight">conversaciones fluidas</span> en un contexto profesional. Mi formación en inglés complementa mis habilidades en desarrollo de software, facilitando la integración con equipos globales y el acceso a recursos avanzados en tecnología.</p>
          </div>
        </div>
      </div>
    </div>


  <div class="scroll-container d-flex mt-3 align-items-center justify-content-center">
    <span class="info"><i class="fa-regular fa-clock me-2"></i>Nuevas formaciones en camino…</span>

  </div>
</div>
