  /*
  SCSS de: Componente Experiencia
  @Autor: Daniel Coronel
          github.com/DanielCoronelPV
  */

  /* Contenedor base del componente */
  .seccionExperience {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--text1);
  }

  /* Estilos Rectangulo de experiencia Escolar */
  .baseExperience {
    background: linear-gradient(121deg, #537988 -40%, #071013 100%);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: 20px;
  }

  /* Estilos Rectangulo de experiencia Laboral */
  .baseExperience2 {
    background-color: var(--baseExp);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding-top: 20px;
  }

  /* Estilos de texto */
  h1 {
    font-weight: 800;
  }

  .title {
    color: #D9E5D6;
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
    @media (min-width: 991px) {
      margin-top: 42px;
    }
  }

  p {
    color: var(--text2);
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.017em;
    font-weight: 400;
  }

  span {
    color: #e1a831;
    font-weight: 600;
  }

  .custom-paragraph {
    color: #D9E5D6 !important;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
  }

  /* Badge que indica que tipo de trayectoria es arriba a la izq de cada bloque */
  .badge {
    background-color: var(--badgeBg);
    font-size: 15px;
    font-weight: 300;
    color: var(--text1);
    border-radius: 50px;
    padding: 6px;
    padding-inline: 12px;
    border: solid 1px var(--badgeB);

  }

  @media (min-width: 991px) {
    .head-lg {
      display: flex;
      justify-content: center;
    }
  }
