<div class="seccionExperience">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-12 text-center mb-5">
          <h1 class="title">Mi trayectoria en desarrollo</h1>
          <p class="custom-paragraph">
            Este es un resumen de mi experiencia como desarrollador y profesional. He trabajado en distintos entornos de programación, abarcando desde la construcción de <span>interfaces interactivas</span> hasta la implementación de <span>lógica y gestión de datos</span>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <div class="baseExperience h-100">
            <div class="head mb-3">
              <div class="badge">
                <i class="fa-solid fa-briefcase me-1"></i>Trayec. Laboral
              </div>
            </div>
            <div>
              <app-exp-progress></app-exp-progress>
            </div>

            <div class="head mt-3 mb-3" style="padding-inline: 10px;">
              <div class="badge">
                <i class="fa-solid fa-graduation-cap me-1"></i>Trayec. Educacional
              </div>
            </div>
            <div class="head-lg">
              <app-formation></app-formation>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
