<div class="timeline">

  <!-- Experiencia Eviden -->
  <div class="timeline-item">
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="timeline-details">
          <div class="timeline-marker"></div>
          <span class="role">Desarrollador Web y Mobile</span><br>
          <h4 class="company title">Paraqvaria Broker y Servicios S.A.
            <a target="_blank" href="https://precisapp.net/" role="button" aria-label="Sitio web de Eviden" class="external"><i
            class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>

          </h4>
          <span><span class="date me-2">2023/2024 -</span>Hernandarias, Paraguay</span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="timeline-description mt-3 mt-md-0">
          <p>
            Prácticas como desarrollador en proyectos internos de la empresa, creando aplicaciones web y móviles. Participé en el desarrollo de soluciones escalables utilizando varias herramientas en conjunto como <span class="highlight">Ionic y Angular</span> (con su conjunto de herramientas y librerías). Colaboré con equipos multidisciplinarios para diseñar experiencias optimizadas tanto para aplicaciones web como para aplicaciones móviles.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
