<div class="profile">
  <div class="imgHolder">
    <a
      aria-label="GitHub Perfil DanielCoronelPV"
      class="logoGit"
      target="_blank"
      href="https://github.com/DanielCoronelPV"
      ><i class="fa-brands fa-github me-2"></i
    ></a>
    <img src="../../../../../assets/icons/" alt="Avatar" class="avatar img-fluid" />
  </div>

  <div class="content">
    <h1 class="name">Daniel Coronel</h1>
    <p class="login">DanielCoronelPV</p>
    <p class="bio mb-4">
      Desarrollador web y mobile, con experiencia en el área y apasionado por
      las nuevas tecnologías. Siempre en busca de mejorar mis habilidades y
      adaptarme a nuevos entornos de programación.
    </p>

    <!-- <p class="followers mb-4">
      <i class="bi bi-people me-2"></i
      ><strong class="number">{{ profile.followers }}</strong> seguidores ·
      <strong class="number">{{ profile.following }}</strong> seguidos
    </p> -->
    <p class="extras">
      <i class="bi bi-geo-alt me-2"></i> <strong>Paraguay</strong>
    </p>
    <!-- <p class="followers mb-1">
      <i class="fa-regular fa-folder-closed me-2"></i>
      <strong class="number">{{ profile.public_repos }}</strong> repositorios
      públicos
    </p> -->
    <a
      href="https://github.com/DanielCoronelPV"
      target="_blank"
      class="visitBtn mt-3 text-center"
      ><i class="fa-brands fa-github me-2"></i>Visitar perfil de GitHub</a
    >
  </div>
</div>
