<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 d-flex align-items-center">
        <div>
          <p class="mb-0 introTitle ">Mi stack tecnológico</p>
          <h1>Habilidades técnicas</h1>
          <p class="pe-2">
            Este es un resumen de mi experiencia en desarrollo de software. Usa el menú lateral
            derecho para explorar mis conocimientos en tecnologías como:
            <span>frameworks y librerías</span>, herramientas para un <span>diseño responsivo y optimización del rendimiento</span>, integración con <span>APIs</span>, sistemas de <span>Control de versiones</span>,
            y otras <span>herramientas</span> que utilizo en mi día a día..
          </p>


        </div>
      </div>

      <div class="col-lg-6 order-2 my-5 d-flex align-items-center justify-content-center">
        <app-carousel></app-carousel>
      </div>


    </div>


  </div>



</div>