  /*
  SCSS de: Componente Skills

  @Autor: Daniel Coronel
          github.com/DanielCoronelPV
  */


  /* Estilos para el texto */
  h1{
    font-weight: 800;
    color: #D9E5D6;
  }

  p{
    color: #D9E5D6;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.017em;
    font-weight: 400;
  }

  span{
    color: #e1a831;
    font-weight: 600;
  }

  .introTitle{
    color: var(--pretext);
  }

  h1 {
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
  }
