<div class="seccionProjects">
  <div class="container">
    <div class="background-wrapper">
      <div class="content">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <p class="mb-0 introTitle text-center">Mis trabajos</p>
            <h1 class="text-center">
              Algunos de los proyectos en los que trabajé
            </h1>
            <p class="text-center">
              Aquí encontrarás una selección de los proyectos en los que he
              trabajado a lo largo de mi trayectoria como desarrollador. Si
              quieres ver más, visita mi perfil de
              <span class="color">GitHub</span>, donde comparto otros
              repositorios y contribuciones.
            </p>
          </div>
        </div>
      </div>
      <div class="baseContent d-flex mt-5">
        <div class="row" style="height: 100%">
          <!-- Perfil de Github -->
          <div class="col-lg-4 justify-content-center d-flex gitprevBloke">
            <div class="holder2 mb-5">
              <div class="gitPrev">
                <app-gitprev></app-gitprev>
              </div>
            </div>
          </div>

          <!-- Bento Boxes -->
          <div class="col-lg-8 col-md-12">
            <!-- Proyectos visibles inicialmente -->

            <!-- Co Watercraft -->
            <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
              <img
                src="../../../../../assets/Co-Watercraft.webp"
                alt="Project Preview 3"
                class="project-image fluid mb-3 mb-lg-0 shadow"
              />
              <div class="contentB px-3">
                <div class="d-flex justify-content-between">
                  <h2 class="mb-0">Co Watercraft</h2>
                  <span class="dot text-success text-end"
                    >En línea<i class="ms-2 text-success fa-solid fa-circle"></i
                  ></span>
                </div>
                <h3 class="techTag mb-3">#Front-End #Back-End</h3>

                <span
                  class="techBadge no-select"
                  data-bs-toggle="tooltip"
                  title="Responsive Desgin | HTML | Scss | Docker | TailwindCss | AOS"
                >
                  <i class="fa-brands fa-angular me-1"></i>Angular
                  <i class="fa-circle-info fa-solid me-1"></i>
                </span>

                <span
                  class="techBadgeRight no-select"
                  data-bs-toggle="tooltip"
                  title="Node.js | API REST | Firebase | EmailJS | JSON | AWS S3 | ApexCharts.js"
                >
                  <i class="devicon-typescript-plain me-1"></i>TypeScript
                  <i class="fa-circle-info fa-solid me-1"></i>
                </span>

                <p>
                  Aplicación web en proceso, donde se muestra los servicios,
                  diversas formas de contacto, reglas de usos, los diversos jet
                  ski ofrecidos, entre otras cosas. Incluira un panel de administración para
                  gestionar datos y supervisar actividades. Proyecto con enfoque en el
                  diseño moderno, maquetación, animaciones.
                </p>
                <!-- <a href="https://github.com/carlos-pv/precisapp-page" target="_blank"
                  aria-label="Visitar repositorio de GitHub" class="tryBtn"><i
                    class="fa-solid fa-code me-1"></i>Código</a> -->
                <a
                  href="https://www.cowatercraft.com/"
                  target="_blank"
                  aria-label="Enlace a página de shortly"
                  role="button"
                  class="tryBtn"
                  ><i class="fa-solid fa-link me-1"></i>Pruébalo</a
                >
              </div>
            </div>

            <!-- PRECISAPP PAGE -->
            <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
              <img
                src="../../../../../assets/Precisapp Page.webp"
                alt="Project Preview 3"
                class="project-image fluid mb-3 mb-lg-0 shadow"
              />
              <div class="contentB px-3">
                <div class="d-flex justify-content-between">
                  <h2 class="mb-0">PreciApp Page</h2>
                  <span class="dot text-success text-end"
                    >En línea<i class="ms-2 text-success fa-solid fa-circle"></i
                  ></span>
                </div>
                <h3 class="techTag mb-3">#Front-End #Back-End</h3>

                <span
                  class="techBadge no-select"
                  data-bs-toggle="tooltip"
                  title="Responsive Desgin | HTML | Scss | Docker | TailwindCss | AOS"
                >
                  <i class="fa-brands fa-angular me-1"></i>Angular
                  <i class="fa-circle-info fa-solid me-1"></i>
                </span>

                <span
                  class="techBadgeRight no-select"
                  data-bs-toggle="tooltip"
                  title="Node.js | API REST | Firebase | EmailJS | JSON | AWS S3 | ApexCharts.js"
                >
                  <i class="devicon-typescript-plain me-1"></i>TypeScript
                  <i class="fa-circle-info fa-solid me-1"></i>
                </span>

                <p>
                  Aplicación web minimalista que muestra coberturas según los
                  servicios ofrecidos. Incluye un panel de administración para
                  gestionar datos y supervisar actividades. Me enfoqué en el
                  diseño, la maquetación y la corrección de errores.
                </p>
                <!-- <a href="https://github.com/carlos-pv/precisapp-page" target="_blank"
                  aria-label="Visitar repositorio de GitHub" class="tryBtn"><i
                    class="fa-solid fa-code me-1"></i>Código</a> -->
                <a
                  href="https://precisapp.net/"
                  target="_blank"
                  aria-label="Enlace a página de shortly"
                  role="button"
                  class="tryBtn"
                  ><i class="fa-solid fa-link me-1"></i>Pruébalo</a
                >
              </div>
            </div>

            <!-- PRECISAPP APP -->
            <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
              <img
                src="../../../../../assets/PrecisApp App.webp"
                alt="Project Preview 2"
                class="project-image img-fluid mb-3 mb-lg-0 shadow"
              />
              <div class="contentB px-3">
                <div class="d-flex justify-content-between">
                  <h2 class="mb-0">PrecisApp</h2>
                  <span class="dot text-success text-end"
                    >En línea<i class="ms-2 text-success fa-solid fa-circle"></i
                  ></span>
                </div>
                <h3 class="techTag mb-3">#Front-End #Back-End</h3>
                <span
                  class="techBadge no-select"
                  data-bs-toggle="tooltip"
                  title="Node.js | Firebase | API REST | ngx-doc-viewer | Responsive Desgin | JSON | AWS S3 | Typescript"
                >
                  <i class="devicon-ionic-original me-1"></i>Ionic
                  <i class="fa-circle-info fa-solid me-1"></i>
                </span>

                <span
                  class="techBadgeRight no-select"
                  data-bs-toggle="tooltip"
                  title="Java | Docker"
                >
                  <i class="fa-brands fa-angular me-1"></i>Android Studio
                  <i class="fa-circle-info fa-solid me-1"></i>
                </span>
                <p>
                  Aplicación móvil de gran escala para Android e iOS, que
                  permite visualizar en detalle estados y coberturas. Gestiona
                  el acceso de usuarios según su rol y permite modificar ciertos
                  datos, manejando una base de datos amplia y compleja.
                </p>
                <a
                  href="https://play.google.com/store/apps/details?id=com.precisapp"
                  target="_blank"
                  aria-label="Enlace a página de shortly"
                  role="button"
                  class="tryBtn"
                  ><i class="fa-solid fa-link me-1"></i>Pruébalo</a
                >
              </div>
            </div>

            <!-- Proyectros extra -->
            <div class="extra-projects" [ngClass]="{ expanded: showMore }">
            <!-- Aero & Marina -->
              <div
                class="projectHolder d-flex flex-lg-row flex-column mt-2 mb-5"
              >
                <img
                  src="../../../../../assets/aeroymarina.webp"
                  alt="Project Preview 1"
                  class="project-image img-fluid mb-3 mb-lg-0 shadow"
                />
                <div class="contentB px-3">
                  <div class="d-flex justify-content-between">
                    <h2 class="mb-0">Aero & Marina</h2>
                    <span class="dot text-success text-end"
                      >En línea<i
                        class="ms-2 text-success fa-solid fa-circle"
                      ></i
                    ></span>
                    <!-- <span class="dot text-warning text-end">Alojando Backend<i
                        class="ms-2 text-warning   fa-solid fa-circle"></i></span> -->
                  </div>
                  <h3 class="techTag mb-3">#Front-End #Back-End</h3>

                  <span
                    class="techBadge no-select"
                    data-bs-toggle="tooltip"
                    title="Responsive Desgin | HTML | Scss | TailwindCss | Animate Css | ApexCharts.js"
                  >
                    <i class="fa-brands fa-angular me-1"></i>Angular
                    <i class="fa-circle-info fa-solid me-1"></i>
                  </span>

                  <span
                    class="techBadgeRight no-select"
                    data-bs-toggle="tooltip"
                    title="Node.js | API REST | Firebase | EmailJS | JSON | Google Maps API | Cloudinary"
                  >
                    <i class="devicon-typescript-plain me-1"></i>TypeScript
                    <i class="fa-circle-info fa-solid me-1"></i>
                  </span>
                  <p>
                    Aplicación web que muestra un catálogo de imágenes del
                    proyecto inmobiliario en progreso, con acceso a mapas que
                    incluyen trazados de lotes y sus descripciones. Cuenta con
                    un panel de administración para gestionar datos e imágenes,
                    además de supervisar actividades. Toda la aplicación soporta
                    cambio de idioma. Me enfoqué en el diseño, la maquetación, y
                    la corrección de errores y la aplicacion de funcionalidades
                    como el acceso y limitacion de contenido segun el rol, y el
                    manejo de estados de los idiomas.
                  </p>
                  <a
                    href="https://paraqvariaaeroymarina.com/"
                    target="_blank"
                    aria-label="Enlace a página de shortly"
                    role="button"
                    class="tryBtn"
                    ><i class="fa-solid fa-link me-1"></i>Pruébalo</a
                  >
                </div>
              </div>
            </div>

            <div class="text-center">
              <a class="textToggle" (click)="toggleShowMore()">
                {{
                  showMore ? "Mostrar menos proyectos" : "Mostrar más proyectos"
                }}
                <i
                  class="fa ms-2"
                  [ngClass]="showMore ? 'fa-chevron-up' : 'fa-chevron-down'"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
