<div class="seccionContact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="contacto-index w-75">
          <p class="preTittle text-center">¿Por qué no hablamos?</p>
          <div class="rectangulo">
            <h1 class="nombre-animado text-center">Contáctame</h1>
          </div>
          <p class="text-center">
            Gracias por visitar mi sitio web. Espero que mi perfil como
            desarrollador te haya resultado interesante y que podamos estar en
            contacto. Si no, al menos espero haberte inspirado. Puedes copiar mi
            correo electrónico o descargar mi resumen a través de los botones de
            abajo para cualquier consulta.
          </p>
          <div
            class="contact d-flex justify-content-center align-items-center mb-4"
          >
            <a
              href="../../../../../assets/CV_ESP_Daniel_Coronel.pdf"
              download="CV (ESP) - Daniel Coronel.pdf"
              aria-label="Boton de descarga de CV"
              role="button"
              class="linkHolder me-2 d-flex align-items-center mt-2"
            >
              <i class="bi bi-download me-1 text-semi2"></i>
              <span class="text-semi2">Descargar CV</span>
            </a>
            <a
              class="linkHolder me-2 d-flex align-items-center mt-2"
              id="copyEmailBtnContact"
            >
              <i class="fa-solid fa-envelope text-semi2 me-1"></i>
              <span class="text-semi2">danicoronel201070&#64;gmail.com</span>
              <i class="fa fa-copy text-semi2 ms-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
